<!-- Contents Field Start -->
<div class="Contents-Field">
<!-- Main Contents Field Start -->
<div class="Main-Contents-Field mdl-color--yellow-50">

<% if signed_in? %>

<div class="member-section-title mdl-typography--display-1-color-contrast">メインメニュー</div>

<div class="member-card-container mdl-grid">
  <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--3-col mdl-color--lime-50">
    <div class="mdl-card__media">
      <%= image_tag "demo/profile.png" %>
    </div>
    <div class="mdl-card__title">
      <h4 class="mdl-card__title-text">プロフィール設定</h4>
    </div>
    <div class="mdl-card__supporting-text">
      <span class="mdl-typography--font-light mdl-typography--subhead">
        自分のプロフィール情報を変更する</span>
    </div>
    
    <div class="mdl-card__actions">
    　<%= link_to current_user, { :class => "member-link mdl-button mdl-js-button mdl-typography--text-uppercase" }  do %>
    　   <span class="icon-link">Change My Profile 
    　   <i class="material-icons">chevron_right</i>
    　   </span>
    　<% end %>
    </div>
  </div>
  
  <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--3-col mdl-color--lime-50">
    <div class="mdl-card__media">
      <%= image_tag "demo/search.png" %>
    </div>
    <div class="mdl-card__title">
      <h4 class="mdl-card__title-text">ユーザ検索</h4>
    </div>
    <div class="mdl-card__supporting-text">
      <span class="mdl-typography--font-light mdl-typography--subhead">
        ユーザーを検索する</span>
    </div>
    <div class="mdl-card__actions">
    　<%= link_to search_path, { :class => "member-link mdl-button mdl-js-button mdl-typography--text-uppercase" }  do %>
    　   <span class="icon-link">Search User 
    　   <i class="material-icons">chevron_right</i>
    　   </span>
    　<% end %>      
    </div>
  </div>
  
  <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--3-col mdl-color--lime-50">
    <div class="mdl-card__media">
      <%= image_tag "demo/freind.png" %>
    </div>
    <div class="mdl-card__title">
      <h4 class="mdl-card__title-text">フレンドリスト</h4>
    </div>
    <div class="mdl-card__supporting-text">
      <span class="mdl-typography--font-light mdl-typography--subhead">
        フレンドリストを開く</span>
    </div>
    <div class="mdl-card__actions">
    　<%= link_to "#", { :class => "member-link mdl-button mdl-js-button mdl-typography--text-uppercase" }  do %>
    　   <span class="icon-link">See My FreindList
    　   <i class="material-icons">chevron_right</i>
    　   </span>
    　<% end %>
    </div>
  </div>
  
  <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--3-col mdl-color--lime-50">
    <div class="mdl-card__media">
      <%= image_tag "demo/message.png" %>
    </div>
    <div class="mdl-card__title">
      <h4 class="mdl-card__title-text">メッセージ</h4>
    </div>
    <div class="mdl-card__supporting-text">
      <span class="mdl-typography--font-light mdl-typography--subhead">
        メッセージをやり取りする</span>
    </div>
    <div class="mdl-card__actions">
    　<%= link_to "#", { :class => "member-link mdl-button mdl-js-button mdl-typography--text-uppercase" }  do %>
    　   <span class="icon-link">Exchange Messages
    　   <i class="material-icons">chevron_right</i>
    　   </span>
    　<% end %>
    </div>
  </div>
</div>
  
<% else %>

<div class="guest-card-container mdl-grid">
  <div class="guest-card-field">
<div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--6-col mdl-color--lime-50">
  <h4 class="bold"><br />
  &nbsp;&nbsp;棋力、地域、年齢など<br /><br />
  &nbsp;&nbsp;自分好みの対戦相手を見つけられる<br /><br />
  &nbsp;&nbsp;将棋のマッチングサイト<br /><br /></h4>
  <div class="mdl-card__media mdl-color-text--grey-50 mdl-color--brown-500">
     <h3>&nbsp;&nbsp;&nbsp;将友&nbsp;&nbsp;&nbsp;SHO-YU</h3>
  </div>
</div>
 
  <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--5-col mdl-color--lime-50">
    <div class="mdl-card__media mdl-color-text--grey-50 mdl-color--primary">
      <h3>&nbsp;&nbsp;&nbsp;アカウント登録&nbsp;&frasl;&nbsp;ログイン</h3>
    </div>
    <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
      <ul class="button" style="list-style:none">
          <li>
            <%= link_to "メールアドレスで登録 / ログイン", new_user_session_path, 
            { :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect 
            mdl-button--accent mdl-color--deep-orange-A700" } %>
          </li>
          <br />
          <li>
            <%= link_to "FACEBOOKで登録 / ログイン", user_omniauth_authorize_path(:facebook),
            { :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect 
            mdl-button--accent mdl-color--blue-A700" }%>
          </li>
      </ul>
    </div>
    <div class="mdl-color-text--grey-700 mdl-card__supporting-text entry-content">
      <p>当サイトを利用するにはアカウント登録が必要となります。</p>
      <p>上記ボタンよりアカウント登録を行ってください。</p>
    </div>
  </div>
</div>

</div>

<% end %>


</div>
<!-- Main Contents Field END -->

</div>
<!-- Contents Field END -->