<!-- Contents Field Start -->
<div class="Contents-Field mdl-color--brown-50">
    <!-- Main Contents Field Start -->
    <div class="Main-Contents-Field">
        
        <div class="links-section-title mdl-typography--display-1-color-contrast">オンライン将棋サイト</div>
        
        <!-- Multiple Card Container Start -->
        <div class="Multiple-Card-Container mdl-grid">

            <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--3-col mdl-color--lime-50">
                <div class="mdl-card__media">
                    <%= image_tag "link/wars.png" %>
                </div>
            	  <div class="mdl-card__title">
            	      <h4>将棋ウォーズ</h4>
            	  </div>
            	  <div class="mdl-card__supporting-text">
            	      <span class="mdl-typography--font-light mdl-typography--subhead">
            	          初級者から高段者まで幅広いユーザーが存在<br />
            	          戦法や囲いが完成するとド派手な演出が出る<br />
            	          今最もホットな将棋アプリ？
            	      </span>
            	  </div>
            	  <div class="mdl-card__actions">
            	       <%= link_to "http://shogiwars.heroz.jp/", 
            	       { :class => "links-link mdl-button mdl-js-button mdl-typography--text-uppercase" }  do %>
            	          <span class="icon-link">サイトへアクセス
            	              <i class="material-icons">chevron_right</i>
            	          </span>
            	       <% end %>
            	  </div>
            </div>
    
        	<div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--3-col mdl-color--lime-50">
        	    <div class="mdl-card__media">
        	        <%= image_tag "link/24.png" %>
        	    </div>
        	    <div class="mdl-card__title">
        	        <h4>将棋倶楽部24</h4>
        	    </div>
        	    <div class="mdl-card__supporting-text">
        	        <span class="mdl-typography--font-light mdl-typography--subhead">
        	            長い間多くのユーザーに支持されている<br />
        	            最も有名なオンライン将棋サーバー<br />
        	            やや有段者向き
        	        </span>
        	    </div>
        	    <div class="mdl-card__actions">
        	        <%= link_to "http://www.shogidojo.com/", 
        	        { :class => "links-link mdl-button mdl-js-button mdl-typography--text-uppercase" }  do %>
        	            <span class="icon-link">サイトへアクセス
        	                <i class="material-icons">chevron_right</i>
        	            </span>
        	        <% end %>
        	    </div>
        	</div>
    
    		<div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--3-col mdl-color--lime-50">
    		    <div class="mdl-card__media">
    		        <%= image_tag "link/hangemae.png" %>
    		    </div>
    		    <div class="mdl-card__title">
    		        <h4>ハンゲーム将棋弐</h4>
    		    </div>
    		    <div class="mdl-card__supporting-text">
    		        <span class="mdl-typography--font-light mdl-typography--subhead">
    		            ユーザーはそこまで多くはないが<br />
    		            駒落ちなどのハンデ機能が多彩<br />
    		            将棋を始めたばかりの初心者にお勧め
    		        </span>
    		    </div>
    		    <div class="mdl-card__actions">
    		       <%= link_to "http://casual.hangame.co.jp/shougi2/", 
    		       { :class => "links-link mdl-button mdl-js-button mdl-typography--text-uppercase" }  do %>
    		          <span class="icon-link">サイトへアクセス
    		              <i class="material-icons">chevron_right</i>
    		          </span>
    			      <% end %>
    		    </div>
    		</div>
    
        	<div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--3-col mdl-color--lime-50">
        	    <div class="mdl-card__media">
        	        <%= image_tag "link/81.png" %>
        	    </div>
        	    <div class="mdl-card__title">
        	        <h4>８１道場</h4>
        	    </div>
        	    <div class="mdl-card__supporting-text">
        	        <span class="mdl-typography--font-light mdl-typography--subhead">
        	            説明文記載予定
        	        </span>
        	    </div>
        	    <div class="mdl-card__actions">
        	        <%= link_to "http://81dojo.com/jp/", { :class => "links-link mdl-button mdl-js-button mdl-typography--text-uppercase" }  do %>
        	            <span class="icon-link">サイトへアクセス
        	                <i class="material-icons">chevron_right</i>
        	            </span>
        	        <% end %>
        	    </div>
        	</div>
    
     	  	<div class="links-title-area">
    	  	    <div class="links-section-title mdl-typography--display-1-color-contrast">街道場検索サイト</div>
    	  	</div>
    	
    	  	<div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--3-col mdl-color--lime-50">
    	  	    <div class="mdl-card__media">
    	  	        <%= image_tag "link/noImage.png" %>
    	  	    </div>
    	  	<div class="mdl-card__title">
    	  	    <h4>全国将棋道場マップ</h4>
    	  	</div>
    	  	<div class="mdl-card__supporting-text">
    	  	    <span class="mdl-typography--font-light mdl-typography--subhead">
    	  	        説明文記載予定
    	  	    </span>
    	  	</div>
    	  	    <div class="mdl-card__actions">
    	  	        <%= link_to "https://www.google.com/maps/d/viewer?mid=z99nRrMmzgZM.kPuNxfaT5oUc&hl=en_US", 
    	  	        { :class => "links-link mdl-button mdl-js-button mdl-typography--text-uppercase" }  do %>
    	  	            <span class="icon-link">サイトへアクセス
    	  	                <i class="material-icons">chevron_right</i>
    	  	            </span>
    	  	        <% end %>
    	  	    </div>
    	  	</div>
  
        </div>
        <!--Multiple Card Container END -->
    
    </div>
    <!-- Main Contents Field END -->

</div>
<!-- Contents Field END -->