<script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<div class="Message_Container">
    <div class="Friend-Field">
        <li class="label">
            <strong><i>フレンド一覧</i></strong>
        </li>
        <% @users.each do |user| %>
            <li class="partner" id=<%=user.id%>>
                <% if user.image_file_name.nil? %>
                    <%= image_tag "link/noImage.png", :size => "50x50" %>
                <% else %>
                    <%= image_tag user.image.url, :size => "50x50" %>
                <% end %>
                <%= link_to user.name, message_path(friend_id: user.id, friend_name: user.name, friend_img: user.image) %>
            </li>
        <% end %>
        <%= will_paginate @users%>
    </div>
    <div class="Message-Field">
    <% if @friend_id.nil?%>
        <%= render 'shared/infoAreas' %>
    <% else %>
        <%= render 'shared/msgAreas' %>
    <% end %>
    </div>
</div>

<script type="text/javascript">
highlight();
// pusher script start
Pusher.log = function(message) {
    if (window.console && window.console.log) {
        window.console.log(message);
    }
}
var pusher = new Pusher('<%= @pusher_access_key %>');
var channel = pusher.subscribe('general_channel');
channel.bind('chat_event', function(data) {
    // 発言元を判定して表示位置を制御する
    var current_user = document.getElementById("current_user_id").value;
    if (current_user == data.speaker) {
        insertRow('newMessageTable',data.message,'User');
    }
    else {
        insertRow('newMessageTable',data.message,'Friend');
    }
    // テキストボックスを初期化
    var message_text = document.getElementById('message_text');
    message_text.value = "";
});
// pusher script end
</script>