<% content_for :message do %>
    <%= stylesheet_link_tag "container/message/friend" %>
    <%= stylesheet_link_tag "element/messageUtil" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <%= javascript_include_tag "message" %>
    <%= javascript_include_tag "controlWindow" %>
<% end %>

<div class="friend-container">
    <li class="friend-container__label">
        <strong><i>フレンド一覧</i></strong>
    </li>
    <% @users.each do |user| %>
        <li class="partner-list" id=<%=user.id%>>
            <div class="partnerArea">
                <% if user.image_file_name.nil? %>
                    <%= image_tag "link/noImage.png", :size => "50x50" %>
                <% else %>
                    <%= image_tag user.image.url, :size => "50x50" %>
                <% end %>
                <%= link_to user.name, message_path(friend_id: user.id) %>
            </div>
            <div class="baloonArea">
                <% if ! @messageCountMap.nil? %>
                    <div class="countBaloon">
                        <p><%= @messageCountMap[user.id] %></p>
                    </div>
                <% end %>
            </div>
        </li>
    <% end %>
    <%= will_paginate @users, :param_name  => 'friendList_page'%>
</div>
<% if @friend_id.nil?%>
    <%= render 'shared/message/infoMessage' %>
<% else %>
    <%= render 'shared/message/friendMessage' %>
<% end %>

<script type="text/javascript">
    highlightForFriendli();
</script>