<!-- Contents Field Start -->
<div class="Contents-Field mdl-color--brown-50">
		<!-- Main Contents Field Start -->
		<div class="Main-Contents-Field">
				<!-- Single Card Field Start -->
				<div class="Single-Card-Field">
	
						<div class="contents-card mdl-card mdl-shadow--4dp mdl-cell mdl-cell--6-col mdl-color--lime-50">
						  		<div class="mdl-card__media mdl-color-text--grey-50 mdl-color--brown-500">
						  		  <h3>&nbsp;&nbsp;&nbsp;アカウント新規登録</h3>
						  		</div>
								<div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
										<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
												<%= devise_error_messages! %>

												<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
												  		<%= f.label :name,'お名前', { class:"mdl-textfield__label" } %><br />
												  		<%= f.text_field :name, { class:"mdl-textfield__input" } %>
												</div>
												
												<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
												  		<%= f.label :email,'メールアドレス', { class:"mdl-textfield__label" } %><br />
												  		<%= f.email_field :email, { class:"mdl-textfield__input" } %>
												</div>
												
												<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
												  		<%= f.label :sex,'性別', { class:"mdl-textfield__label" } %><br />
												  		<%= f.text_field :sex, { class:"mdl-textfield__input" } %>
												</div>
												
												<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
												  		<%= f.label :birthday,'生年月日', { class:"mdl-textfield__label" } %> <i>(1989年8月23日の場合、19890823と入力)</i><br />
												  		<%= f.text_field :birthday, { class:"mdl-textfield__input" } %>
												</div>
												
												<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
												  		<%= f.label :area,'地域', { class:"mdl-textfield__label" } %><br />
												  		<%= f.text_field :area, { class:"mdl-textfield__input" } %>
												</div>
												
												<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
												  		<%= f.label :kiryoku,'棋力', { class:"mdl-textfield__label" } %><br />
												  		<%= f.text_field :kiryoku, { class:"mdl-textfield__input" } %>
												</div>
												
												<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
												  		<%= f.label :comment,'ひとこと', { class:"mdl-textfield__label" } %><br />
												  		<%= f.text_field :comment, { class:"mdl-textfield__input" } %>
												</div>

												<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
												  		<%= f.label :password,'パスワード', { class:"mdl-textfield__label" }  %><br />
												  		<%= f.password_field :password, { class:"mdl-textfield__input" } %>
												</div>

												<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
												  		<%= f.label :password_confirmation,'パスワード（確認)', { class:"mdl-textfield__label" }  %><br />
												  		<%= f.password_field :password_confirmation, { class:"mdl-textfield__input" } %>
												</div>

												<div class="actions">
												  		<%= f.submit "アカウント新規作成", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect 
												  		    mdl-button--accent mdl-color--teal-300" %>
												</div>
										<% end %>
								</div>
						</div>
				</div>
				  <!-- Single Card Field END -->
		</div>
		<!-- Main Contents Field END -->
</div>
<!-- Contents Field END -->