<% content_for :message_chat do %>
    <%= stylesheet_link_tag "container/message/chatHead" %>
    <%= stylesheet_link_tag "container/message/message" %>
    <%= stylesheet_link_tag "container/message/input" %>
    <%= stylesheet_link_tag "element/baroon" %>
    <script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
    <%= javascript_include_tag "util" %>
<% end %>

<div class="chatHead">
    <%= render 'shared/element/userHead' %>
    <%= render 'shared/element/friendHead' %>
</div>

<div id="messageContainer">
    <%= render 'shared/element/oldMsgTable' %>
    <%= render 'shared/element/newMsgTable' %>
    <%= render 'shared/element/nowMsgTable' %>
</div>

<div class="inputContainer">
    <div class="inputContainer__textForm">
        <%= form_tag('/post', :remote => true) do %>
        <%= hidden_field_tag :ajax_handler, 'pusher' %>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <%= label_tag 'text', 'ここにメッセージを入力', :class => "mdl-textfield__label" %>
            <%= text_area_tag 'message', '', :id => "message_text", :class => "mdl-textfield__input" %>
        </div>
    </div>
    <div class="inputContainer__button">
            <input id="speaker_id" name="speaker_id" type="hidden" value= <%=current_user.id %> >
            <input id="listener_id" name="listener_id" type="hidden" value= <%=@friend_id%> >
            <input id="speaker_name" name="speaker_name" type="hidden" value= <%=current_user.name%> >
            <input id="listener_name" name="listener_name" type="hidden" value= <%=@partner_inf.name%> >
            <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color--teal-300" 
            name="commit" type="submit" value="メッセージ送信" onClick="addBreakLine()"></input>
        <% end %>
    </div>  
</div>

<script type="text/javascript">
    moveScrollbar();
    
    // pusher websocket
    Pusher.log = function(message) {
        if (window.console && window.console.log) {
            window.console.log(message);
        }
    }
    var pusher = new Pusher('<%= @pusher_access_key %>');
    var channel = pusher.subscribe('general_channel');
    channel.bind('chat_event', function(data) {
        var current_user = document.getElementById("speaker_id").value;
        if (current_user == data.speaker) {
            outputMessage('nowMsgTable',data.message,'User');
        }
        else {
            outputMessage('nowMsgTable',data.message,'Friend');
        }
        var message_text = document.getElementById('message_text');
        message_text.value = "";
    });
</script>