<% content_for :message_info do %>
    <%= stylesheet_link_tag "container/message/info" %>
    <%= stylesheet_link_tag "container/message/newArrivals" %>
<% end %>

<div class="newArrivalsContainer">
    <div class="newArrivalsContainer-navi">
        <strong><i>新着メッセージ</i></strong> <br />
        <strong><%= @allNewMsgCnt %>件の新着メッセージがあります</strong>
    </div>
    <div class="newArrivalsContainer-message">
        <%= render 'shared/element/newArrvlList' %>
    </div>
</div>
<div class="infoContainer">
    <div class="infoContainer-navi">
        <strong><i>新着情報</i></strong> <br />
        <strong><%= @notificationMsgCnt %>件の新着情報があります</strong>
    </div>
    <div class="infoContainer-message">
        <%= render 'shared/element/infoMsgList' %>
    </div>
    <!-- 動的メッセージ出力領域 -->
    <div class="infoContainer-display">
        <div class="display__title">
            <div id="display__title--subjectItem"></div>
        </div>
        <div class="display__message">
            <div id="display__message--speakerItem"></div>
            <div id="display__message--timeStampItem"></div>
            <div id="display__message--messageItem"><br />
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    highlightForNewMsg();
    highlightForNotification();
</script>