<% content_for :index do %>
	<%= stylesheet_link_tag "layout/main" %>
	<%= stylesheet_link_tag "container/index" %>
<% end %>

<div class="main-section-head mdl-typography--display-1">
	<div class="main-section-head__title">
		検索結果        
	</div>
	<div class="main-section-head__button">    
		<%= link_to "検索条件を変更する", search_path, 
		{ :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect 
		mdl-button--accent mdl-color--teal-300" } %>
	</div>
</div>

<div class="index-card-container mdl-grid">
	<% if @users.count == 0 %>
		<h4>検索条件に一致するユーザーが見つかりませんでした</h4>
	<% end %>
	
	<% @users.each do |user| %>
		<div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--3-col mdl-color--lime-50">
			<div class="mdl-card__media">
				<% if ! user.image_file_name.nil? %>
					<%= image_tag user.image.url , :size => "200x200" %>
				<% else %>
					<%= image_tag "link/noImage.png" , :size => "200x200" %>
				<% end %>
			</div>
			<div class="mdl-card__title">
				<h4 class="mdl-card__title-text"><%= user.name %></h4>
			</div>
			<div class="mdl-card__supporting-text">
				<span class="mdl-typography--font-light mdl-typography--subhead">
					<ul style="list-style:none">
						<li>性別: <% if user.sex == 1 %> 男性 <% else %> 女性 <% end %></li>
  		  		    	<li>棋力: <%= user.kiryoku %></li>
  		  		    	<li>地域: <%= user.area %></li>
  		  		    	<li>年齢: <%= user.age %></li>
  		  		    </ul>
  		  		</span>
  		  	</div>
			<div class="mdl-card__actions">
				<%= link_to user, { :class => "multiple-link mdl-button mdl-js-button mdl-typography--text-uppercase" }  do %>
					<span class="icon-link">プロフィールを開く
						<i class="material-icons">chevron_right</i>
					</span>
				<% end %>
			</div>
		</div>
	<% end %>

    <%= will_paginate @users%>
		
</div>