<% content_for :search do %>
	<%= stylesheet_link_tag "layout/main" %>
	<%= stylesheet_link_tag "container/search" %>
	<%= javascript_include_tag "controlElAttr" %>
	<%= javascript_include_tag "controlForm" %>
	<%= javascript_include_tag "util" %>
<% end %>

<div class="search-card-container mdl-grid">
	<div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--6-col mdl-color--lime-50">
	    <div class="mdl-card__media mdl-color-text--grey-50 mdl-color--brown-500">
	        <h3>ユーザーを探す</h3>
	    </div>
	    
	    <div class="mdl-color-text--grey-700 mdl-card__supporting-text">

	        <%= form_for(@user, url: users_path, html: { method: :get }) do |f| %>
	    
        	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        	    <%= f.label :area,'地域', { class:"mdl-textfield__label" } %><br />
        	    <%= f.text_field :area, { class:"mdl-textfield__input area-label" } %>
        	</div>
	        <%= render 'shared/area' %>
	      
        	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        	    <%= f.label :kiryoku,'棋力', { class:"mdl-textfield__label" } %><br />
        	    <%= f.text_field :kiryoku, { class:"mdl-textfield__input kiryoku-label" } %>
        	</div>
	        <%= render 'shared/kiryoku' %>

        	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        	    <%= f.label :age,'年齢', { class:"mdl-textfield__label" } %><br />
        	    <%= f.text_field :age, { class:"mdl-textfield__input age-label" } %>
        	</div>
	        <%= render 'shared/age' %>
	        
	        <div class="mdl-card__actions">
	            <%= f.submit "検索実行", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect 
	            mdl-button--accent mdl-color--teal-300", id:"search_button" %>
	        </div>
	        
	        <input type="hidden" class="mdl-textfield__input" id="user_id" name="user[id]" value=<%=current_user.id%>>
	        
	        <% end %>
	    </div>
	</div>
</div>