<!-- Contents Field Start -->
<div class="Contents-Field">
<!-- Main Contents Field Start -->
<div class="Main-Contents-Field mdl-color--yellow-50">
    
  <!-- Users Card Field Start -->
  <div class="users-card-container mdl-grid">
    <div class="users-title-area">
      <div class="users-title-contents">
        <div class="users-section-title mdl-typography--display-1-color-contrast">&lt;<%= @title %>&gt;</div>
        <!-- FollowingユーザかFolowerユーザを表示しているかによって、ボタン表示を制御する -->
        <% if current_page?(following_user_path(@user))%>
          <%= link_to "友達登録されているユーザを開く", followers_user_path(@user),
          { :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color--blue-A700" }%>
        <% else %>
          <%= link_to "友達登録しているユーザを開く", following_user_path(@user),
          { :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color--blue-A700" }%>
        <% end %>
      </div>
    </div>
    
    <% @users.each do |user| %>
    <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--3-col mdl-color--lime-50">
      <div class="mdl-card__media">
        <%= image_tag user.image.url %>
      </div>
      <div class="mdl-card__title">
        <h4><%= user.name %></h4>
      </div>
      <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">
        <ul style="list-style:none">
          <li>棋力: <%= user.kiryoku %></li>
          <li>地域: <%= user.area %></li>
          <li>年齢: <%= user.age %></li>
        </ul>
        </span>
      </div>
      <div class="mdl-card__actions">
       <%= link_to user, { :class => "users-link mdl-button mdl-js-button mdl-typography--text-uppercase" }  do %>
    　     <span class="icon-link">プロフィールを開く
    　     <i class="material-icons">chevron_right</i>
    　     </span>
    　  <% end %>
      </div>
    </div>
  <% end %>     
    
    </div>
    <!-- Users Card Field Start -->
    
</div>
<!-- Main Contents Field END -->

</div>
<!-- Contents Field END -->