<% content_for :show do %>
	<%= stylesheet_link_tag "layout/main" %>
	<%= stylesheet_link_tag "container/show" %>
<% end %>
<div class="show-container">
	<div class="head">
	    <h3 class="head__name"><%= @user.name %></h3>
	    <div class="head__button">
	    	<% if current_user == @user %>
	    		<%= render 'shared/show/currentUserHead' %>
			<% else %>
				<%= render 'shared/show/otherUserHead' %>
	    	<% end %>
	    </div>
	</div>
	<div class="media-division">
	    <div class="media-division__image">
	        <% if @user.image_file_name.nil? %>
	            <%= image_tag "link/noImage.png", :size => "200x200" %>
	        <% else %>
	            <%= image_tag @user.image.url(:medium) %>
	        <% end %>
	    </div>
	    <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col mdl-color--white">
	        <div class="mdl-card__title">
	            <p><%= @user.name %>さんの<br />フレンドリスト</p>
	        </div>
	        <div class="mdl-card__supporting-text">
	            <%= link_to "友達登録しているユーザ", following_user_path(@user), 
	            { :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect 
	            mdl-button--accent mdl-color--teal-300" } %>
	            <%= link_to "友達登録されているユーザ", followers_user_path(@user), 
	            { :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect 
	            mdl-button--accent mdl-color--teal-300" } %>
	        </div>
	    </div>
	</div>
	<div class="table-division">
	    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
	    	<tbody>
	        	<tr>
	        		<td class="mdl-data-table__cell--non-numeric">お名前</td>
	        		<td class="mdl-data-table__cell--non-numeric"><strong><%= @user.name %></strong></td>
	        	</tr>
	        	<tr>
	        		<td class="mdl-data-table__cell--non-numeric">性別</td>
	        		<% if @user.sex == 1 %>
	        			<td class="mdl-data-table__cell--non-numeric"><strong>男性</strong></td>
	        		<% else %>
	        			<td class="mdl-data-table__cell--non-numeric"><strong>女性</strong></td>
	        		<% end %>
	        	</tr>
	        	<tr>
	        		<td class="mdl-data-table__cell--non-numeric">生年月日</td>
	        		<td class="mdl-data-table__cell--non-numeric"><strong><%= @user.birthday %></strong></td>
	        	</tr>
	        	<tr>
	        		<td class="mdl-data-table__cell--non-numeric">メールアドレス</td>
	        		<% if @user.email_publish == 0 %>
	        			<td class="mdl-data-table__cell--non-numeric"><strong>非公開</strong></td>
	        		<% else %>
	        			<td class="mdl-data-table__cell--non-numeric"><strong><%= @user.email %></strong></td>
	        		<% end %>
	        	</tr>
	        </tbody>
	    </table>

	    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
	        <tbody>
	        	<tr>
	        		<td class="mdl-data-table__cell--non-numeric">棋力</td>
	        		<% if @user.kiryoku.blank? %>
	        			<td class="mdl-data-table__cell--non-numeric"><strong>未設定</strong></td>
	        		<% else %>
	        			<td class="mdl-data-table__cell--non-numeric"><strong><%= @user.kiryoku %></strong></td>
	        		<% end %>
	        	</tr>
	        	<tr>
	        		<td class="mdl-data-table__cell--non-numeric">地域</td>
	          		<td class="mdl-data-table__cell--non-numeric"><strong><%= @user.area %></strong></td>
	        	</tr>
	        	<tr>
	        		<td class="mdl-data-table__cell--non-numeric">年齢</td>
	          		<td class="mdl-data-table__cell--non-numeric"><strong><%= @user.age %></strong></td>
	        	</tr>
	        	<tr>
	        		<td class="mdl-data-table__cell--non-numeric">ひとこと</td>
	        		<% if @user.kiryoku.blank? %>
	        			<td class="mdl-data-table__cell--non-numeric"><strong>未設定</strong></td>
	        		<% else %>
	        			<td class="mdl-data-table__cell--non-numeric"><strong><%= @user.comment %></strong></td>
	        		<% end %>
	        	</tr>
	    	</tbody>
	    </table>
	</div>
</div>