<!-- Contents Field Start -->
<div class="Contents-Field mdl-color--brown-50">

　 <!-- Main Contents Field Start -->
  <div class="Show-Contents-Field">

  <div class="Contents-Head-Field">
    <div class="head-title-field">
      <h3><%= @user.name %>&lt;プロフィール&gt;</h3>
    </div>
    
    <div class="head-action-field">
        <div class="action-buttons" style="list-style:none">
          <% if current_user == @user %>
          <%= link_to "プロフィールを編集する", edit_user_registration_path, 
          { :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect 
          mdl-button--accent mdl-color--teal-300" } %>
          </div>
          <% else %>
            
          <%= link_to "フレンドリストに登録する", "#", 
          { :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect 
          mdl-button--accent mdl-color--blue-A700", :id => "add_Freind_button"} %>

          <%= link_to "メッセージを送信する", "#", 
          { :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect 
          mdl-button--accent mdl-color--blue-A700", :id => "message_button" } %>
            
          <% end %>
      </div>
  </div>
  
  <div class="Contents-Left-Field">
    <div class="Left-Field-Contents">
      <div class="image">
          <%= image_tag @user.image.url(:medium) %>
      </div>
      
      <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col mdl-color--blue-grey-50">
        <div class="mdl-card__title"><strong><%= @user.name %>さんのフレンドリスト</strong></div>
        <div class="mdl-card__supporting-text">
          <div class="follow_buttons" style="list-style:none">
            <li>
              <%= link_to "友達登録しているユーザ", following_user_path(@user), 
              { :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect 
              mdl-button--accent mdl-color--teal-300", :id => "following_button"} %>
            </li>
            <li>
              <%= link_to "友達登録されているユーザ", followers_user_path(@user), 
              { :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect 
              mdl-button--accent mdl-color--teal-300", :id => "followed_button" } %>
            </li>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
  <div class="Contents-Right-Field">
    <div class="Right-Field-Contents">
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
      <tbody>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">お名前</td>
          <td class="mdl-data-table__cell--non-numeric"><strong><%= @user.name %></strong></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">性別</td>
          <td class="mdl-data-table__cell--non-numeric"><strong><%= @user.sex %></strong></td>
        </tr>
        <tr>
        　<td class="mdl-data-table__cell--non-numeric">生年月日</td>
          <td class="mdl-data-table__cell--non-numeric"><strong><%= @user.birthday %></strong></td>
        </tr>
        <tr>
        　<td class="mdl-data-table__cell--non-numeric">メールアドレス</td>
          <td class="mdl-data-table__cell--non-numeric"><strong><%= @user.email %></strong></td>
        </tr>
      </tbody>
    </table>
    
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
      <tbody>
        <tr>
        　<td class="mdl-data-table__cell--non-numeric">棋力</td>
          <td class="mdl-data-table__cell--non-numeric"><strong><%= @user.kiryoku %></strong></td>
        </tr>
        <tr>
        　<td class="mdl-data-table__cell--non-numeric">地域</td>
          <td class="mdl-data-table__cell--non-numeric"><strong><%= @user.area %></strong></td>
        </tr>
        <tr>
        　<td class="mdl-data-table__cell--non-numeric">年齢</td>
          <td class="mdl-data-table__cell--non-numeric"><strong><%= @user.age %></strong></td>
        </tr>
        <tr>
        　<td class="mdl-data-table__cell--non-numeric">ひとこと</td>
          <td class="mdl-data-table__cell--non-numeric"><strong><%= @user.comment %></strong></td>
        </tr>
      </tbody>
    </table>
    
    </div>
  </div>
  
  </div>
  <!-- Show Contents Field END -->

</div>
<!-- Contents Field END -->