<div class="User-Name-Field">
    <div class="name-area">
            <input type="button" value= <%=@user.name %> 
            class ="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color--blue-grey-50">
    </div>
    <div class="image-area">
        <div class="image-item">
            <% if @user.image.url.nil? %>  
                <%= image_tag @user.image.url, :size => "150x50" %>
            <% else %>
                <%= image_tag "link/noImage.png", :size => "150x50" %>
            <% end %>
        </div>
    </div>
</div>

<div class="Friend-Name-Field">
	<div class="image-area">
	    <% if @partner_inf.image.nil? %>
	        <%= image_tag @partner_image.image, :size => "150x50" %>
	        <% else if ! @friend_id.nil? %>
	            <%= image_tag "link/noImage.png", :size => "150x50" %>
	        <% end %>
	    <% end %>
	</div>
    <div class="name-area">
        <input type="button" value= <%=@partner_inf.name %> 
	    class ="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color--blue-grey-50">
	    <input type="hidden" id="talking_friend_id" value=<%=@friend_id %> >
	</div>
</div>

<div id="Both-Field">
    <table id="oldMessageTable">
        <tbody>
            <% if @messages.nil? %> <!-- @messageは整列されたメッセージの集合-->
            <% else %>
                <% @messages.each do |message| %>
                    <% if (message.speaker_id) == @user.id %> <!-- @発言元がユーザかフレンドかを判定 -->
                    
                    <!-- ユーザ側にメッセージを出す -->
                    <tr>
                        <td class="user-timestamp-cell"><%=message.created_at %></td>
                        <td class="user-message-cell"><div class="msg-baroon-left"><%=message.message %></div></td>
                        <td class="friend-message-cell"></td>
                        <td class="friend-timestamp-cell"></td>
                    </tr>     
                    
                    <% else %>
                    
                    <!-- フレンド側にメッセージを出す -->
                    <tr>
                        <td class="user-timestamp-cell"></td>
                        <td class="user-message-cell"></td>
                        <td class="friend-message-cell"><div class="msg-baroon-right"><%=message.message %></div></td>
                        <td class="friend-timestamp-cell"><%=message.created_at %></td>
                    </tr>                             

                    <% end %>
                <% end %>
            <% end %>
        </tbody>
    </table>

    <table id="newArraivalMessageTable">
        <tbody>
            <% if ! @newArraivalMessages.length == 0 %> <!-- @newArraivalMessagesは整列されたメッセージの集合-->
                <div class="newArraivalPoint">
                    <p>↓ ここから下が新着メッセージです ↓</p>
                    <% if ! @friend_flag %>
                        <p>友達登録していないユーザーからのメッセージです</p>
                    <% end %>
                <div>
                
                <% @newArraivalMessages.each do |message| %>
                    <!-- @発言元はフレンドからのみを想定 -->
                    <!-- フレンド側にメッセージを出す -->
                    <tr>
                        <td class="user-timestamp-cell"></td>
                        <td class="user-message-cell"></td>
                        <td class="friend-message-cell"><div class="msg-baroon-new"><%=message["message"] %></div></td>
                        <td class="friend-timestamp-cell"><%=message["created_at"] %></td>
                    </tr>                             
                <% end %>
            <% end %>
        </tbody>
    </table>
    
    <table id="newMessageTable">
            <tr>
                <th class="user-timestamp-cell"></th>
                <th class="user-message-cell"></th>
                <th class="friend-message-cell"></th>
                <th class="friend-timestamp-cell"></th>
            </tr>
    </table>        
    
</div>

<!-- スクロールバーを一番下に移動する -->
<script>moveScrollbarToBottom()</script>

<div class="Input-Field">
    <div class="Input-text-area">
    <!-- メッセージ入力フィールド -->
        <%= form_tag('/post', :remote => true) do %>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <%= label_tag 'text', 'ここにメッセージを入力', :class => "mdl-textfield__label" %>
            <%= text_area_tag 'message', '', :id => "message_text", :class => "mdl-textfield__input" %>
        </div>
    </div>
    <div class="Input-button-area">
            <input id="speaker_id" name="speaker_id" type="hidden" value= <%=@user.id %> >
            <input id="listener_id" name="listener_id" type="hidden" value= <%=@friend_id%> >
            <input id="speaker_name" name="speaker_name" type="hidden" value= <%=@user.name%> >
            <input id="listener_name" name="listener_name" type="hidden" value= <%=@partner_inf.name%> >
            <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color--teal-300" 
            name="commit" type="submit" value="メッセージ送信" onClick="addBr()"></input>
        <% end %>
    </div>
    <!-- メッセージ入力フィールド -->   
</div>