<!-- Contents Start -->
<div class="Tab-Contents-Field mdl-color--yellow-50">

  <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--6-col mdl-color--lime-50">
    <div class="mdl-card__media mdl-color-text--grey-50 mdl-color--primary">
      <h3>&nbsp;&nbsp;&nbsp;メールアドレスでログイン</h3>
    </div>
    <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      
      <!--
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="session_email" name="session[email]" />
        <label class="mdl-textfield__label" for="session_email">email...</label>
      </div>
      -->
      
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "off" %>
      </div>
      
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
             <%= f.submit "ログイン" %>
      </div>
      <% end %>

      <%= link_to "アカウントを新規で作成する", new_user_registration_path, 
      { :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color--blue-A700" } %>
    
    </div>
    
  </div>

</div>
<!-- Contents END -->