<!-- Contents Field Start -->
<div class="Contents-Field mdl-color--brown-50">
    <!-- Main Contents Field Start -->
    <div class="Main-Contents-Field">
        <!-- Single Card Field Start -->
        <div class="Single-Card-Field">
            <div class="contents-card mdl-card mdl-shadow--4dp mdl-cell mdl-cell--6-col mdl-color--lime-50">
                <div class="mdl-card__media mdl-color-text--grey-50 mdl-color--brown-500">
                    <h3>メールアドレスでログイン&nbsp;&nbsp;&nbsp;</h3>
                </div>
                <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <%= f.label :email,'メールアドレス', { class:"mdl-textfield__label" } %><br />
                        <%= f.email_field :email, { class:"mdl-textfield__input" } %>
                    </div>
                    
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <%= f.label :password,'パスワード', { class:"mdl-textfield__label" } %><br />
                        <%= f.password_field :password, { class:"mdl-textfield__input" } %>
                    </div>

                    <% if devise_mapping.rememberable? %>
                      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
                        <%= f.check_box :remember_me, { class:"mdl-checkbox__input", id:"checkbox-1" } %>
                        <%= f.label :remember_me,'パスワードを記憶する', { class:"mdl-checkbox__label" } %>
                      </label>
                    <% end %>
        
                    <div class="action-buttons-field">
                        <div class = "action-item"> 
                        <%= f.submit "ログイン", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect 
                        mdl-button--accent mdl-color--teal-300", id:"login_button" %>
                        <% end %>
                        </div>

                        <div class = "action-item"> 
                        <%= link_to "アカウントを新規で作成する", new_user_registration_path, 
                        { :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent 
                        mdl-color--teal-300", id:"new_account_button" } %>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Single Card Field END -->
    </div>
    <!-- Main Contents Field END -->
</div>
<!-- Contents Field END -->