<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--brown-500">
  <div class="mdl-layout--large-screen-only mdl-layout__header-row">
  </div>
  <div class="mdl-layout__header-row">
    <h3>将友 &lt;SHO-YU&gt;</h3>
    <h6>&nbsp; &nbsp; 将棋のマッチングサイト</h6>
  </div>
  <div class="mdl-layout--large-screen-only mdl-layout__tab-bar mdl-js-ripple-effect">
    <%= link_to "OverView", root_path, { :class => "mdl-layout__tab is-active" } %>
    
    <% if signed_in? %>
    
    <div class="mdl-layout__tab is-active">
      <%= link_to "LogOut", destroy_user_session_path, method: :delete %>
    </div>
    
    <% else %>
      <%= link_to "Login", new_user_session_path, { :class => "mdl-layout__tab is-active" } %>
    <% end %>
    
    <%= link_to "About", about_path, { :class => "mdl-layout__tab is-active" } %>
    
    <%= link_to "Contact", new_contact_path, { :class => "mdl-layout__tab is-active" } %>
    
    <%= link_to "Link", link_path, { :class => "mdl-layout__tab is-active" } %>

  </div>
</header>
 
<div class="mdl-layout__drawer ">
  <span class="mdl-layout-title">Menu List</span>
  <nav class="mdl-navigation">
    <%= link_to "OverView", root_path, { :class => "mdl-navigation__link" } %>
    
    <% if signed_in? %>
    <div class="mdl-navigation__link">
    <%= link_to "LogOut", destroy_user_session_path, method: :delete %>
    </div>
    <% else %>
    <%= link_to "Login", new_user_session_path, { :class => "mdl-navigation__link" } %>
    <% end %>
    
    <%= link_to "About", about_path, { :class => "mdl-navigation__link" } %>
    <%= link_to "Contact", new_contact_path, { :class => "mdl-navigation__link" } %>
    <%= link_to "Link", link_path, { :class => "mdl-navigation__link" } %>

  </nav>
</div>